**UAS DASAR PEMROGRAMAN** (*Jawaban Nomor 1*)

-   Nama : Yuni Lestari
*   NIM : 20220040006
*   Kelas : TI22C (Teknik Informatika)
*   Dosen Pengampu : Bpk. Alun Sujjada, S.Kom.,M.T

In [43]:
#Jawaban Essay Nomor 1
#Mengubah tabel kedalam dictionary
#Menampilkan Data Nilai lebih besar dari 80

Data_Nilai = [
    {
        "Student_Number" : "101",
        "Name" : "Andri",
        "Subject" : "Programming Basic",
        "Grade" : 80
    },
    {
        "Student_Number" : "102",
        "Name" : "Budi",
        "Subject" : "Programming Basic",
        "Grade" : 90
    },
    {
        "Student_Number" : "103",
        "Name" : "Cika",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "104",
        "Name" : "Dedi",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "105",
        "Name" : "Eka",
        "Subject" : "Programming Basic",
        "Grade" : 50
    },
    {
        "Student_Number" : "106",
        "Name" : "Feri",
        "Subject" : "Programming Basic",
        "Grade" : 40
    },
    {
        "Student_Number" : "107",
        "Name" : "Galih",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "108",
        "Name" : "Huda",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "109",
        "Name" : "Intan",
        "Subject" : "Programming Basic",
        "Grade" : 60
    },
    {
        "Student_Number" : "101",
        "Name" : "Andri",
        "Subject" : "Web Programming",
        "Grade" : 70
    },
    {
        "Student_Number" : "102",
        "Name" : "Budi",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
    {
        "Student_Number" : "103",
        "Name" : "Cika",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
    {
        "Student_Number" : "104",
        "Name" : "Dedi",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
    {
        "Student_Number" : "105",
        "Name" : "Eka",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
    {
        "Student_Number" : "106",
        "Name" : "Feri",
        "Subject" : "Web Programming",
        "Grade" : 60
    },
    {
        "Student_Number" : "107",
        "Name" : "Galih",
        "Subject" : "Web Programming",
        "Grade" : 95
    },
    {
        "Student_Number" : "108",
        "Name" : "Huda",
        "Subject" : "Web Programming",
        "Grade" : 85
    },
    {
        "Student_Number" : "109",
        "Name" : "Intan",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
]

In [44]:
def nilaiLebih80(data_nilai):
    result = []

    for item in data_nilai:
      if item.get("Grade") > 80:
          result.append(item)

    return result

In [45]:
def printData(data_nilai):
    for item in data_nilai:
        print("------------------------------")
        print("Student_Number : ", item.get("Student_Number"))
        print("Nama : ", item.get("Name"))
        print("Subjects : ", item.get("Subject"))
        print("Grades : ", item.get("Grade"))
        print("------------------------------")
        print("\n")

In [46]:
print("Data dengan nilai lebih dari 80\n")
printData(nilaiLebih80(Data_Nilai))

Data dengan nilai lebih dari 80

------------------------------
Student_Number :  102
Nama :  Budi
Subjects :  Programming Basic
Grades :  90
------------------------------


------------------------------
Student_Number :  103
Nama :  Cika
Subjects :  Programming Basic
Grades :  100
------------------------------


------------------------------
Student_Number :  104
Nama :  Dedi
Subjects :  Programming Basic
Grades :  100
------------------------------


------------------------------
Student_Number :  104
Nama :  Dedi
Subjects :  Web Programming
Grades :  90
------------------------------


------------------------------
Student_Number :  105
Nama :  Eka
Subjects :  Web Programming
Grades :  90
------------------------------


------------------------------
Student_Number :  107
Nama :  Galih
Subjects :  Web Programming
Grades :  95
------------------------------


------------------------------
Student_Number :  108
Nama :  Huda
Subjects :  Web Programming
Grades :  85
------------------------------


------------------------------
Student_Number :  109
Nama :  Intan
Subjects :  Web Programming
Grades :  90
------------------------------